<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        ul>li{
            list-style-type: none;
        }
    </style>
</head>
<body>
<div>
    <h1>The Goods Update Page</h1>
    <form th:action="@{/goods/doUpdateGoods}" method="post">
        <ul>
            <li><input type="hidden" name="id" th:value="${g.id}"></li>
            <li>name:</li>
            <li><input type="text" name="name" th:value="${g.name}"></li>
            <li>remark</li>
            <li><textarea rows="3" cols="50" name="remark" th:text="${g.remark}"></textarea></li>
            <li><input type="submit" value="Save Goods"></li>
        </ul>
    </form>
</div>
</body>
</html>